/*background*/
.container{
    border:solid transparent;
    width:100%;
    vertical-align:top;
    position:relative;
    top:43px;
}
#nav{
    background-color: #efefef;
    position:fixed;
    top:0px;
    z-index:10;
}
#welcome, #contact{
    background-color: #47c6f7;
      
}
#expertise{
    background-color: #eef4ed;   
}
#why{
    background-color:#eef4ed;
}
#project, #team{
    background-color:#dbf0f1;
}

body{
    font-size: 100%;
    width:100%;
    height:100%;
    font-family: 'Roboto', sans-serif;
}
p{
    font-size: 20px;
}
/*nav*/
.nav{
    width:70%;
    position:relative;
    margin:auto auto 4px auto;
}
#nav-header, #navbar, #navbar li{
    display:inline-block;
}
#nav-header{
    position:relative;
    left:50px;
}
#encn{
    border-left:2px solid black;
}
#navbar{
    overflow:hidden;
    position:relative;
    top:8px;
    left:400px;
    
}
ul{
    list-style-type: none;
}
li a{
    color:black;
    font-size: 15px;
    text-decoration:none;
    padding:13px;
}
li a:hover{
    color:white;
}
#en-cn{
    color: black;
    font-size: 15px;
}
/*welcome*/
.wel{
    width:70%;
    margin:10px auto;
    padding:0;
}
#welcome-head{
    font-size: 50px;
}
#welcome-text{
    width:50%;
    position:relative;
    bottom:100px;
    left:60px;
    display:inline-block;
    margin:auto auto auto 50px;
}
#welcome-image{
    display:inline-block;
    position:relative;
    top:10px;
    
}
/*why*/
.why{
  width:70%;
    margin:30px auto;
  overflow:hidden;
}
#why-head{
  text-align:center;
}
.why-content{
    text-align: center;
}
.content{
  display:inline-block;
  width:28%;
  vertical-align:top;
  padding:10px;
  text-align: left;
}

/*expertise*/
.expertise{
    width:70%;
    margin:20px auto;
    position:relative;
    top: 30px;

}
#ex-hr{
    position:relative;
    bottom:45px;
    height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8c8c inset;
}
#ex-title{
    text-align: center;
    margin: 0px auto 60px auto;
}
.ex-img image{
    width:100%;
    display:block;
}
.ex-img{
    width:100px;
    margin:auto 50px;
    display:inline-block;
}
.ex-img2{
    position:relative;
    bottom:100px;
    
}
.ex-container{
    text-align: center;
}


.ex-img1{
    opacity:1;
}
.ex-img2{
    opacity:0;
}
.ex-img:hover .ex-img1{
    opacity:0;
}
.ex-img:hover .ex-img2{
    opacity:1;
}


.ex-text h2{
    overflow:hidden;
    width:140px;
    display:inline-block;
    vertical-align: top;
    text-align: center;
    margin:auto 30;
    font-size: 20px;
}
.ex-text{
    text-align:center;
    position:relative;
    bottom:80px;
}
/*featured project*/
.proj{
  width:70%;
    margin:40px auto;
}
#proj-head{
  text-align:center;
}
.proj-row{
  text-align:center;
  margin:40px auto;
}
.proj-img{
  display:inline;
  position:relative;
  left:-90%;
}
.proj-text{
  display:inline-block;
  width:28%;
  text-align:left;
  vertical-align:top;
  padding:10px;
  position:relative;
  right:-90%;
  top:50px;
}
#proj-img1, #proj-img2{
    border:2px solid black;
}
.proj-text-head{
    font-size: 30px;
}
.proj-text-pas{
    font-size: 20px;
}

/*team*/

.team{
  width:70%;
  margin:40px auto;
}
.team hr{
    margin:60px auto;
     border : 0;
  height: 1px; 
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    
}
.team-row{
  margin:20px auto;
  text-align:center;
}
.team-text{
  display:inline-block;
  text-align:left;
  vertical-align:top;
}
.team-text li{
    font-size: 20px;
    position:relative;
    right:20px;
    bottom:10px;
}
#team-text1{
  position:relative;
  width:50%;
  top:20px;
  right:70px;
}
#team-text2{

  position:relative;
  top:0px;
}
.team-head{
  text-align:center;
}

/*contact*/
.contact{
  width:70%;
  margin:60px auto;
}
.contact-text{
    display:block;
  text-align:left;
  position:relative;
  top:0px;
  left:200px;
}
